<h2>Ereignis Runde 1</h2>
<div>

    Der Start eurer Plattform steht kurz bevor. Wie wollt ihr den Launch angehen? <br>
    a) Sofot mit einer teuren Marketingaktion (-50 <img src="../gfx/Gold.png" class="iconInline">, aber dafür höhere Sichtbarkeit erste Runde)<br>
    b) Sofort (nichts passiert) <br>
    c) Heimlich, still und leise mit einer geschlossenen Beta (+50 <img src="../gfx/Code.png" class="iconInline"> und +25 <img src="../gfx/Data.png" class="iconInline">, aber dafür niedrige Sichtbarkeit erste Runde)
</div>
<!-- import css -->
<link rel="stylesheet" href="../template.css">
