<!doctype html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Event1 für Plattform Simulator">
    <meta name="keywords" content="Digitale Plattformen">
    <meta name="author" content="Prof. Dr. Daniel Blochinger - DHBW Ravensburg">

    <link rel="icon" href="gfx/MainLogo.png" type="image/x-icon" />
    <link rel="stylesheet" href="../bootstrap-5.0.2-dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../template.css">
    <script src="../bootstrap-5.0.2-dist/js/bootstrap.js"></script>
</head>

<body class="event-body">
    <h2 class="event-h2">Ereignis Runde 1</h2>
    <p class="event-p">
        Der Start eurer Plattform steht kurz bevor. Wie wollt ihr den Launch angehen? <br>
        a) Sofot mit einer teuren Marketingaktion (-50 <img src="../gfx/Gold.png" class="iconInline">, aber
        dafür
        höhere
        Sichtbarkeit erste Runde)<br>
        b) Sofort (nichts passiert) <br>
        c) Heimlich, still und leise mit einer geschlossenen Beta (+50 <img src="../gfx/Code.png" class="iconInline">
        und +25 <img src="../gfx/Data.png" class="iconInline">, aber dafür niedrige Sichtbarkeit erste Runde)
    </p>
</body>

</html>