
<!doctype html>
<html lang="de">
<head>
	
<meta charset="utf-8">
<meta name="description" content="Template für Plattform Simulator">
<meta name="keywords" content="Digitale Plattformen">
<meta name="author" content="Prof. Dr. Daniel Blochinger - DHBW Ravensburg">

		
<title>Plattform Simulator - Impressum</title>
<link rel="stylesheet" href="template.css">
</head>
	
<body>
	
	<main>

		<div class="container">
			<div class="parallax">
				
				<div class="stickyUpper">
					<div class="adjustToCenter">	
						<div class="clearfix">		
						<div class="logocolumn">
							<a href="ranking.html"><img class="logo" src="gfx/MainLogo.png"  alt="Plattform Simulator Logo" width="12%"></a>
							</div>
						<div class="titlecolumn">
							<h1>Digitale Plattformen - Simulation</h1>
							<h2>Impressum</h2>
							</div>						
						
						</div>	
					</div>
					
					<div class="infoBoxUpper"><div class="adjustToCenter"><div class="clearfix">						
					<br>	
					</div></div></div>
					
				</div>				


				
				<div class="adjustToCenter">
					
				<br>&nbsp;<br>&nbsp;

				<h1 id="A1">Impressum</h1>

					<div class="subcolumn" style="color:#FFFFFF;">	
						
					<p> <b>Prof. Dr. Daniel Blochinger</b><br>
					    Ulmerstraße 15<br>
					 	72587 Römerstein<br><br>

						Tel: 0176/42618864<br>
						Mail: daniel.blochinger@posteo.de<br><br><br>

						<b>Verantwortlich für den Inhalt:</b> Daniel Blochinger<br><br><br><br><br><br><br>
					</p>
	
					</div>

									<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;
				

		</div>
				
				
		<div class="stickyLower">
				<div class="infoBoxLower"></div>
			
				
			
				<div class="adjustToCenter">
				<div align="center">Plattform Simulator  | <a href="impressum.html" style="color:#FFFFFF;">Impressum</a> | <a href="dsgvo.html" style="color:#FFFFFF;">Datenschutz</a>
					</div>		
				</div>	
			</div>
		</div>		</div>
	</main>
	
	
	
	<footer>
		
	</footer>
	
	
</body>
	
	
</html>
