<!doctype html>
<html lang="de">

<head>

	<meta charset="utf-8">
	<meta name="description" content="Template für Plattform Simulator">
	<meta name="keywords" content="Digitale Plattformen">
	<meta name="author" content="Prof. Dr. Daniel Blochinger - DHBW Ravensburg">


	<title>Plattform Simulator - Impressum</title>
	<link rel="icon" href="gfx/MainLogo.png" type="image/x-icon" />
	<link rel="stylesheet" href="bootstrap-5.0.2-dist/css/bootstrap.css" />
	<link rel="stylesheet" href="template.css">
	<script src="bootstrap-5.0.2-dist/js/bootstrap.js"></script>
</head>

<body>
	<header>
		<div class="container">
			<div class="logo-container">
					<a href="ranking.html"><img class="logo" src="gfx/MainLogo.png" alt="Plattform Simulator Logo"></a>
			</div>
			<div class="title-container">
				<div class="title">
					<h1>Digitale Plattformen - Simulation</h1>
					<h2>Impressum</h2>
				</div>
			</div>
		</div>
	</header>

	<main>
		<div class="page-divider divider-full">
			<p style="text-align: center;"><b>Prof. Dr. Daniel Blochinger</b><br>
				Ulmerstraße 15<br>
				72587 Römerstein<br><br>

				Tel: 0176/42618864<br>
				Mail: daniel.blochinger@posteo.de<br><br><br>

				<b>Verantwortlich für den Inhalt:</b> Daniel Blochinger
			</p>
		</div>
	</main>

	<footer>
		Plattform Simulator |&nbsp;
		<a href="impressum.html" style="color:#FFFFFF;">Impressum</a>&nbsp;|&nbsp;
		<a href="dsgvo.html" style="color:#FFFFFF;">Datenschutz</a>
	</footer>
</body>


</html>