<!doctype html>
<html lang="de">

<head>

	<meta charset="utf-8">
	<meta name="description" content="Template für Plattform Simulator">
	<meta name="keywords" content="Digitale Plattformen">
	<meta name="author" content="Prof. Dr. Daniel Blochinger - DHBW Ravensburg">


	<title>Plattform Simulator - Template</title>
	<link rel="icon" href="gfx/MainLogo.png" type="image/x-icon" />
	<link rel="stylesheet" href="template.css">
</head>

<body>
	<header>
		<div class="adjustToCenter clearfix">
			<div class="logocolumn">
				<a href="ranking.html"><img class="logo" src="gfx/MainLogo.png" alt="Plattform Simulator Logo"></a>
			</div>
			<div class="titlecolumn">
				<h1>Digitale Plattformen - Simulation</h1>
				<h2>Spielername</h2>
			</div>
		</div>
	</header>

	<nav>
		<div class="adjustToCenter clearfix">
			<div class="ressource"><img src="gfx/Gold.png" alt="Gold"
					title="Liquide Mittel in Tausend Euro. Einnahmemöglichkeiten sind Gebühren und Komissionen für Käufer bzw. Verkäufer, das Schalten von Werbung und ggf. auch der Verkauf von Daten. Ausgabemöglichkeiten sind Personal, Forschung und Entwicklung, sowie negative Anmeldegebühren (SignUp Bonus)"
					width="55%"></div>
			<div class="smallText">%var36</div>
			<div class="ressource"><img src="gfx/Code.png" alt="Code"
					title="Quellcode wird durch Entwickler erzeugt und für Forschung und Entwicklung eingesetzt"
					width="55%"></div>
			<div class="smallText">%var37</div>
			<div class="ressource"><img src="gfx/Data.png" alt="Data"
					title="Daten sind das Öl des 21. Jahrhunderts - in unverarbeitetem Zustand kaum was Wert. Rohdaten werden durch Aktivität der Nutzer auf eurer Plattform erzeugt, müssen jedoch verarbeitet werden um nützlich zu werden."
					width="55%"></div>
			<div class="smallText">%var38</div>
			<div class="ressource"><img src="gfx/Insight.png" alt="Insight"
					title="Verarbeitete Daten verbessern die Attraktivität der Plattform und werden auch für Forschung und Entwicklung eingesetzt."
					width="55%"></div>
			<div class="smallText">%var39</div>

			<div class="largeText">&nbsp;</div>
			<div class="breaker">
				<div class="clearfix"><br>&nbsp;</div>
			</div>
			<div class="ressource"><img src="gfx/PopBuyers.png" alt="Buyers"
					title="Anzahl der Käufer auf eurer Plattform vs. die maximale Anzahl an Käufern welche auf der Plattform effizient interagieren können. Ab 100% Belegung nimmt die Effizienz ab, ab 200% Belegung sind keine weiteren Registrierungen mehr möglich."
					width="55%"></div>
			<div class="largeText">%var40</div>

			<div class="ressource"><img src="gfx/PopSellers.png" alt="Sellers"
					title="Anzahl der Verkäufer auf eurer Plattform vs. die maximale Anzahl an Verkäufern welche auf der Plattform effizient interagieren können. Ab 100% Belegung nimmt die Effizienz ab, ab 200% Belegung sind keine weiteren Registrierungen mehr möglich."
					width="55%"></div>
			<div class="largeText">%var41</div>
			<div class="ressource"><img src="gfx/Reputation.png" alt="Reputation"
					title="Ruf der Plattform in der Öffentlichkeit. Je besser der Ruf, umso mehr neue Kunden werden von eurer Plattform angezogen."
					width="55%"></div>
			<div class="smallText">%var42</div>
			<div class="ressource"><img src="gfx/Transactions.png" alt="Transactions"
					title="Anzahl Transaktionen die auf eurer Plattform seit Beginn des Spiels getätigt wurden"
					width="55%"></div>
			<div class="smallText">%var43</div>
			<div class="ressource"><img src="gfx/Sanduhr.png" alt="Runde" title="Aktuelle Spielrunde." width="55%">
			</div>
			<div class="smallText">%var44</div>
		</div>
	</nav>

	<main>
		<div class="adjustToCenter">
			<div class="clearfix">
				<div class="fullcolumn">
					<img src="gfx/Event1.png" alt="Plattform" width="100%">
				</div>
			</div>

			<button id="generate">Code generieren</button>

			<div class="clearfix">
				<div class="thirdcolumn page-divider">
					<h3>Plattform</h3>

					<div class="clearfix">
						<div class="icon">
							<img src="gfx/PriceRange.png" alt="Preisniveau"
								title="Der Markt im Spiel ist in zwei Dimensionen horizontal Differenziert. Für die Dimensionen Preisniveau und Produktart wird dabei eine auf 1 normierte Hotelling-Straße verwendet. Beim Preisniveau steht die 0 für billige Artikel, 0.5 für die Mittelklasse und 1 für das Hochpreissegment. Eure Plattform kann jede Zahl zwischen 0 und 1 wählen und zieht Käufer/Verkäufer die sich in einem ähnlichen Preisbereich bewegen verstärkt an."
								width="75%">
						</div>
						<div class="description">
							Preisniveau
						</div>
						<div class="value">
							<input class="inputfield" id="alignmentPrice" placeholder="%var01" value="%var01"></input>
						</div>
					</div>

					<div class="clearfix">
						<div class="icon">
							<img src="gfx/ProductType.png" alt="Produktart"
								title="Der Markt im Spiel ist in zwei Dimensionen horizontal Differenziert. Für die Dimensionen Preisniveau und Produktart wird dabei eine auf 1 normierte Hotelling-Straße verwendet. Beim Produktart steht die 0 für schlich-pragmatische Artikel, 0.5 für gängige Designartikel und 1 für künstlerische Werke. Eure Plattform kann jede Zahl zwischen 0 und 1 wählen und zieht Käufer/Verkäufer die sich in einem ähnlichen Produktbereich bewegen verstärkt an."
								width="75%">
						</div>
						<div class="description">
							Produktart
						</div>
						<div class="value">
							<input class="inputfield" id="alignmentProduct" placeholder="%var02" value="%var02"></input>
						</div>
					</div>

					<div class="clearfix">
						<div class="icon">
							<img src="gfx/Coder.png" alt="Entwickler"
								title="Jeder Entwickler kostet 25k pro Runde und erzeugt mindestens 50 Code"
								width="75%">
						</div>
						<div class="description">
							Entwickler
						</div>
						<div class="value">
							<input class="inputfield" id="coders" placeholder="%var03" value="%var03"></input>
						</div>
					</div>

					<div class="clearfix">
						<div class="icon">
							<img src="gfx/DataScientist.png" alt="DataScientist"
								title="Data Scientists kosten 25k pro Runde und wandeln Rohdaten in verarbeitete Daten. Die Umwandlung wird durch Einsatz moderner Maschine Learning Methoden deutlich effizienter"
								width="75%">
						</div>
						<div class="description">
							Data Scientists
						</div>
						<div class="value">
							<input class="inputfield" id="dataScientists" placeholder="%var04" value="%var04"></input>
						</div>
					</div>

					<div class="clearfix">
						<div class="icon">
							<img src="gfx/Marketer.png" alt="Marketer"
								title="Marketer kosten 25k pro Runde und verbessern die Sichtbarkeit eurer Plattform, sowie die Effizienz von auf der Plattform geschalteter PPC Werbung. Außerdem erzeugt jeder Marketer eine geringe Menge an verarbeiteten Daten pro Runde."
								width="75%">
						</div>
						<div class="description">
							Marketer
						</div>
						<div class="value">
							<input class="inputfield" id="marketers" placeholder="%var05" value="%var05"></input>
						</div>
					</div>

					<div class="clearfix">
						<div class="icon">
							<img src="gfx/Moderator.png" alt="Moderator"
								title="Moderatoren kosten 25k pro Runde und verringern die Wahrscheinlichkeit von ungewollten Ereignissen (Betrugsfälle und Fake-Reviews) um je 20%."
								width="75%">
						</div>
						<div class="description">
							Moderatoren
						</div>
						<div class="value">
							<input class="inputfield" id="mods" placeholder="%var06" value="%var06"></input>
						</div>
					</div>

				</div>
				<div class="thirdcolumn page-divider">
					<h3>Käufer</h3>

					<div class="clearfix">
						<div class="icon">
							<img src="gfx/SignupFee.png" alt="Anmeldegebühr"
								title="Diese Gebühr wird einmalig bei der Registrierung entrichtet. Sie kann negativ gewählt werden, um Neukunden einen Sign-Up Bonus zu gewähren."
								width="75%">
						</div>
						<div class="description">
							Anmeldegebühr
						</div>
						<div class="value">
							<input class="inputfield" id="buyerPriceSign" placeholder="%var07" value="%var07"></input>
						</div>
					</div>

					<div class="clearfix">
						<div class="icon">
							<img src="gfx/SubFee.png" alt="Abogebühr" title="Diese Gebühr wird pro Runde entrichtet"
								width="75%">
						</div>
						<div class="description">
							Abogebühr
						</div>
						<div class="value">
							<input class="inputfield" id="buyerPriceSub" placeholder="%var08" value="%var08"></input>
						</div>
					</div>

					<div class="clearfix">
						<div class="icon">
							<img src="gfx/Comission.png" alt="Komission"
								title="Diese Gebühr wird pro Transaktion entrichtet. Sie kann aus einem Fixbetrag und einer prozentualen Komission bestehen."
								width="75%">
						</div>
						<div class="description">
							Komission
						</div>
						<div class="value">
							<input class="inputfield" id="buyerPriceComission" placeholder="%var09" value="%var09"></input>
						</div>
					</div>

					<div class="clearfix">
						<div class="icon">
							<img src="gfx/AdCPM.png" alt="Bannerwerbung"
								title="Intensität mit der eure Plattform klassische nach Impressionen bezahlte Bannerwerbung betreibt. Wertebereich von 0% für keine Werbung bis 100% für extrem aufdringlich."
								width="75%">
						</div>
						<div class="description">
							Bannerwerbung
						</div>
						<div class="value">
							<input class="inputfield" id="buyerAdActivityCPM" placeholder="%var10" value="%var10"></input>
						</div>
					</div>

					<div class="clearfix">
						<div class="icon">
							<img src="gfx/AdPPC.png" alt="PPC-Werbung"
								title="Intensität mit der eure Plattform nach Klicks bezahlte Werbeformate betreibt. Die Effizienz dieser Art von Werbung kann durch entsprechende Technologien deutlich gesteigert werden."
								width="75%">
						</div>
						<div class="description">
							PPC-Werbung
						</div>
						<div class="value">
							<input class="inputfield" id="buyerAdActivityPPC" placeholder="%var11" value="%var11"></input>
						</div>
					</div>

					<div class="clearfix">
						<div class="icon">
							<img src="gfx/Freemium.png" alt="Freemium"
								title="Wird Freemium angeboten kann der Nutzer zwischen SignUp & Abogebühren ODER Werbung entscheiden. Kommissionen müssen in beiden Tarifen bezahlt werden."
								width="75%">
						</div>
						<div class="description">
							Freemium
						</div>
						<div class="value">
							<input class="inputfield" id="buyerFreemium" placeholder="%var12" value="%var12"></input>
						</div>
					</div>

				</div>
				<div class="thirdcolumn page-divider">
					<h3>Verkäufer</h3>

					<div class="clearfix">
						<div class="icon">
							<img src="gfx/SignupFee.png" alt="Anmeldegebühr"
								title="Diese Gebühr wird einmalig bei der Registrierung entrichtet. Sie kann negativ gewählt werden, um Neukunden einen Sign-Up Bonus zu gewähren."
								width="75%">
						</div>
						<div class="description">
							Anmeldegebühr
						</div>
						<div class="value">
							<input class="inputfield" id="sellerPriceSign" placeholder="%var13" value="%var13"></input>
						</div>
					</div>

					<div class="clearfix">
						<div class="icon">
							<img src="gfx/SubFee.png" alt="Abogebühr" title="Diese Gebühr wird pro Runde entrichtet"
								width="75%">
						</div>
						<div class="description">
							Abogebühr
						</div>
						<div class="value">
							<input class="inputfield" id="sellerPriceSub" placeholder="%var14" value="%var14"></input>
						</div>
					</div>

					<div class="clearfix">
						<div class="icon">
							<img src="gfx/Comission.png" alt="Komission"
								title="Diese Gebühr wird pro Transaktion entrichtet. Sie kann aus einem Fixbetrag und einer prozentualen Komission bestehen."
								width="75%">
						</div>
						<div class="description">
							Komission
						</div>
						<div class="value">
							<input class="inputfield" id="sellerPriceComission" placeholder="%var15" value="%var15"></input>
						</div>
					</div>

					<div class="clearfix">
						<div class="icon">
							<img src="gfx/AdCPM.png" alt="Bannerwerbung"
								title="Intensität mit der eure Plattform klassische nach Impressionen bezahlte Bannerwerbung betreibt. Wertebereich von 0% für keine Werbung bis 100% für extrem aufdringlich."
								width="75%">
						</div>
						<div class="description">
							Bannerwerbung
						</div>
						<div class="value">
							<input class="inputfield" id="sellerAdActivityCPM" placeholder="%var16" value="%var16"></input>
						</div>
					</div>

					<div class="clearfix">
						<div class="icon">
							<img src="gfx/AdPPC.png" alt="PPC-Werbung"
								title="Intensität mit der eure Plattform nach Klicks bezahlte Werbeformate betreibt. Die Effizienz dieser Art von Werbung kann durch entsprechende Technologien deutlich gesteigert werden."
								width="75%">
						</div>
						<div class="description">
							PPC-Werbung
						</div>
						<div class="value">
							<input class="inputfield" id="sellerAdActivityPPC" placeholder="%var17" value="%var17"></input>
						</div>
					</div>

					<div class="clearfix">
						<div class="icon">
							<img src="gfx/Freemium.png" alt="Freemium"
								title="Wird Freemium angeboten kann der Nutzer zwischen SignUp & Abogebühren ODER Werbung entscheiden. Kommissionen müssen in beiden Tarifen bezahlt werden."
								width="75%">
						</div>
						<div class="description">
							Freemium
						</div>
						<div class="value">
							<input class="inputfield" id="sellerFreemium" placeholder="%var18" value="%var18"></input>
						</div>
					</div>

				</div>

				<div class="thirdcolumn page-divider">
					<h3>Bewertung</h3>

					<div class="clearfix">
						<div class="iconSmall">
							<img src="gfx/Gold.png" alt="Gold" width="85%">
						</div>
						<div class="descriptionSmall">
							Geldbestand
						</div>
						<div class="valueSmall">
							%var19
						</div>
						<div class="iconSmall">
							<img src="gfx/Score.png" alt="Score" width="85%">
						</div>
					</div>

					<div class="clearfix">
						<div class="iconSmall">
							<img src="gfx/Insight.png" alt="Insight" width="85%">
						</div>
						<div class="descriptionSmall">
							Datenbestand
						</div>
						<div class="valueSmall">
							%var20
						</div>
						<div class="iconSmall">
							<img src="gfx/Score.png" alt="Score" width="85%">
						</div>
					</div>

					<div class="clearfix">
						<div class="iconSmall">
							<img src="gfx/Tech.png" alt="Tech" width="85%">
						</div>
						<div class="descriptionSmall">
							Know-How
						</div>
						<div class="valueSmall">
							%var21
						</div>
						<div class="iconSmall">
							<img src="gfx/Score.png" alt="Score" width="85%">
						</div>
					</div>

					<div class="clearfix">
						<div class="iconSmall">
							<img src="gfx/PopTotal.png" alt="Gesamtnetzwerk" width="85%">
						</div>
						<div class="descriptionSmall">
							Netzwerkgröße
						</div>
						<div class="valueSmall">
							%var22
						</div>
						<div class="iconSmall">
							<img src="gfx/Score.png" alt="Score" width="85%">
						</div>
					</div>

					<div class="clearfix">
						<div class="iconSmall">
							<img src="gfx/Transactions.png" alt="Transaktionen" width="85%">
						</div>
						<div class="descriptionSmall">
							Transaktionen
						</div>
						<div class="valueSmall">
							%var23
						</div>
						<div class="iconSmall">
							<img src="gfx/Score.png" alt="Score" width="85%">
						</div>
					</div>

					<div class="clearfix">
						<div class="iconSmall">
							<img src="gfx/Reputation.png" alt="Reputation" width="85%">
						</div>
						<div class="descriptionSmall">
							Ruf
						</div>
						<div class="valueSmall">
							%var24
						</div>
						<div class="iconSmall">
							<img src="gfx/Score.png" alt="Score" width="85%">
						</div>
					</div>

					<div class="clearfix">
						<div class="iconSmall">

						</div>
						<div class="descriptionSmall">
							<b>GESAMT</b>
						</div>
						<div class="valueSmall">
							<b>%var25</b>
						</div>
						<div class="iconSmall">
							<img src="gfx/Score.png" alt="Score" width="85%">
						</div>
					</div>

				</div>

				<div class="thirdcolumn page-divider">
					<h3>Einnahmen</h3>

					<div class="clearfix">
						<div class="iconSmall">
							<img src="gfx/SignUp.png" alt="Anmeldungen" width="85%">
						</div>
						<div class="descriptionSmall">
							Anmeldegebühren
						</div>
						<div class="valueSmall">
							%var26
						</div>
						<div class="iconSmall">
							<img src="gfx/Gold.png" alt="Gold" width="85%">
						</div>
					</div>

					<div class="clearfix">
						<div class="iconSmall">
							<img src="gfx/Subscription.png" alt="Abonnements" width="85%">
						</div>
						<div class="descriptionSmall">
							Abogebühren
						</div>
						<div class="valueSmall">
							%var27
						</div>
						<div class="iconSmall">
							<img src="gfx/Gold.png" alt="Gold" width="85%">
						</div>
					</div>

					<div class="clearfix">
						<div class="iconSmall">
							<img src="gfx/Comission.png" alt="Komissionen" width="85%">
						</div>
						<div class="descriptionSmall">
							Komissionen
						</div>
						<div class="valueSmall">
							%var28
						</div>
						<div class="iconSmall">
							<img src="gfx/Gold.png" alt="Gold" width="85%">
						</div>
					</div>

					<div class="clearfix">
						<div class="iconSmall">
							<img src="gfx/Adverts.png" alt="Komissionen" width="85%">
						</div>
						<div class="descriptionSmall">
							Werbung
						</div>
						<div class="valueSmall">
							%var29
						</div>
						<div class="iconSmall">
							<img src="gfx/Gold.png" alt="Gold" width="85%">
						</div>
					</div>

					<div class="clearfix">
						<div class="iconSmall">
							<img src="gfx/Insight.png" alt="Datenverkauf" width="85%">
						</div>
						<div class="descriptionSmall">
							Datenverkauf
						</div>
						<div class="valueSmall">
							%var30
						</div>
						<div class="iconSmall">
							<img src="gfx/Gold.png" alt="Gold" width="85%">
						</div>
					</div>

					<div class="clearfix">
						<div class="iconSmall">
						</div>
						<div class="descriptionSmall">
							<b>GESAMT</b>
						</div>
						<div class="valueSmall">
							<b>%var31</b>
						</div>
						<div class="iconSmall">
							<img src="gfx/Gold.png" alt="Gold" width="85%">
						</div>
					</div>


				</div>

				<div class="thirdcolumn page-divider">
					<h3>Ausgaben</h3>

					<div class="clearfix">
						<div class="iconSmall">
							<img src="gfx/Employee.png" alt="Betriebskosten" width="85%">
						</div>
						<div class="descriptionSmall">
							Betriebskosten
						</div>
						<div class="valueSmall">
							%var32
						</div>
						<div class="iconSmall">
							<img src="gfx/Gold.png" alt="Gold" width="85%">
						</div>
					</div>

					<div class="clearfix">
						<div class="iconSmall">
							<img src="gfx/Tech.png" alt="Entwicklungskosten" width="85%">
						</div>
						<div class="descriptionSmall">
							Entwicklungskosten
						</div>
						<div class="valueSmall">
							%var33
						</div>
						<div class="iconSmall">
							<img src="gfx/Gold.png" alt="Gold" width="85%">
						</div>
					</div>

					<div class="clearfix">
						<div class="iconSmall">
							<img src="gfx/SignUp.png" alt="Anmeldeboni" width="85%">
						</div>
						<div class="descriptionSmall">
							Anmeldeboni
						</div>
						<div class="valueSmall">
							%var34
						</div>
						<div class="iconSmall">
							<img src="gfx/Gold.png" alt="Gold" width="85%">
						</div>
					</div>

					<div class="clearfix">
						<div class="iconSmall">
						</div>
						<div class="descriptionSmall">
							<b>GESAMT</b>
						</div>
						<div class="valueSmall">
							<b>%var35</b>
						</div>
						<div class="iconSmall">
							<img src="gfx/Gold.png" alt="Gold" width="85%">
						</div>
					</div>

				</div>

				<div class="clearfix">
					<div class="fullcolumn">
						<img src="gfx/TechTree.png" alt="Plattform" width="100%">
					</div>
				</div>

			</div>
			<div class="grid-container">
				<div class="tech-pic"><img src="gfx/techtree_0.png"></div>
				<div class="tech-card">
					UI/UX Optimierung [🪙50, <br> 
					+25% intrinsischer Nutzen für Käufer und Verkäufer <br>
					+5% Wahrscheinlichkeit einer zusätzlichen Transaktion</div>
				<div class="tech-checkbox"><input type="checkbox" id="tech-uiux"></div>
			</div>

		</div>

	</main>

	<footer>
		<div class="adjustToCenter">
			Plattform Simulator | 
			<a href="impressum.html" style="color:#FFFFFF;">Impressum</a> | 
			<a href="dsgvo.html" style="color:#FFFFFF;">Datenschutz</a>
		</div>
	</footer>
	<script src="../../js/generator.js"></script>
</body>

</html>