/* CSS Document */

/* Define variables */
:root {
    --primary-color: #E1061C;
	--primary-color-transparent-90: #EE727F;
	--primary-color-transparent-70: #F2929B;
	--primary-color-transparent-50: #F6B1B8;
	--primary-color-transparent-30: #F9D0D4;
	--primary-color-light: #FF4D5A;
	--primary-color-effect: #d80d22;
	--primary-color-dark: #8d0613;
	--background-color: #ECEDF0;
	--footer-color: #2B2B2B;

	--tech-tree-image-width: 90px;
}

@media(max-width:768px) {

	:root {
		--tech-tree-image-width: 70px;
	}

}

@media(max-width:576px) {

	:root {
		--tech-tree-image-width: 50px;
	}

}

/* General */
body {
	background-color: var(--background-color);
	max-width: 1920px;
	margin: 0;
}

/* Header */
header {
	background-color: var(--primary-color);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	position: sticky;
	width: 100%;
	height: 8.5em;
	top: 0;
	left: 0;
	z-index: 10;
}

.logo-container {
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	padding: 1em;
}

.title-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	height: 100%;
	padding: 1em 6.5em 1em 6.5em;
}

/* Nav */
nav {
	background-color: white;
	color: black;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	position: sticky;
	top: 8.5em;
	padding-top: 15px;
	padding-bottom: 10px;
	width: 100%;
	z-index: 8;
}

/* Main */
main {
	margin: 0 5%;
}

.ressource {
	margin: 0 2em 0 2em;
	padding: 0%;
}

.ressource > img {
	text-align: left;
	float: left;
	width: 25px;
}


/* Footer */

footer {
	background-color: var(--footer-color);
	color: #FFFFFF;
	position: sticky;
	bottom: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}

/* General Style*/
.page-divider {
    background: #fff;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
    border-radius: 0.5em;
    margin-bottom: 1em;
    padding: 1em;
    overflow: hidden;
    object-fit: contain;
    object-position: center;
    overflow-x: auto;
}

/* Table Style*/
table {
	width: 100%;
}

tr {
	height: 80px;
}

/* UPPER BAR*/

.logo {
	width: 150px;
}

.main-container {
	margin-left: 20%;
}

.adjustToCenter {
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0% 10%;
}

h1 {
	color: #FFFFFF;
	font-size: 32px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	text-align: center;
}

p {
	text-align: center;
	font-size: 17px;
}

h2 {
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	clear: both;
}

h3 {
	text-align: center;
	color: #000000;
	font-size: 24px;
	clear: both;
}

input {
	width: 75px;
	height: 30px;
	padding: 0 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=checkbox] {
	width: 30px;
	height: 30px;
}

button {
	color: white;
	background-color: var(--primary-color);
	box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
    border: none;
    border-radius: 0.3em;
    height: 3em;
    margin: 0.5em;
}

button:hover {
    cursor: pointer;
	background-color: var(--primary-color-effect);
}

button:active {
    transform: translateY(1px);
}

.button-container {
	display: flex;
	justify-content: center;
	margin: 1em;
}

.fullcolumn {
	color: #000000;
	/* width: 96%; */
	float: left;
	margin: 2%;
	text-align: justify;
}

.halfcolumn {
	color: #000000;
	width: 48%;
	float: left;
	margin: 1%;
	text-align: justify;
}

.logocolumn {
	width: 15%;
	float: left;
	margin: 2%;
}

.titlecolumn {
	width: 75%;
	float: left;
}

.thirdcolumn {
	width: 25%;
	height: 22.5em;
	overflow-y: auto;
	float: left;
	margin: 2%;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}




.smallText {
	width: 4.1%;
	float: left;
	margin: 0%;
	padding: 0%;
	margin-top: 0.5%;
	margin-right: 2%;
	text-align: left;
}

.largeText {
	width: 7.9%;
	float: left;
	margin: 0%;
	padding: 0%;
	margin-top: 0.5%;
	margin-right: 2%;
	text-align: left;
}

.veryLargeText {
	color: #FFFFFF;
	width: 7.9%;
	float: left;
	margin: 0%;
	padding: 0%;
	margin-top: 0.5%;
	margin-right: 2%;
	text-align: left;
}

.icon {
	color: #000000;
	width: 15%;
	float: left;
	margin: 1%;
	text-align: left;
}

.iconSmall {
	color: #000000;
	width: 10%;
	float: left;
	margin: 1%;
	text-align: left;
}

.description {
	color: #000000;
	width: 55%;
	float: left;
	margin: 1%;
	margin-top: 4%;
	text-align: left;
}

.value {
	color: #000000;
	width: 20%;
	float: left;
	margin: 1%;
	margin-top: 4%;
	text-align: right;
}

.descriptionSmall {
	color: #000000;
	width: 50%;
	float: left;
	margin: 1%;
	margin-top: 3%;
	text-align: left;
}

.valueSmall {
	color: #000000;
	width: 20%;
	float: left;
	margin: 1%;
	margin-top: 3%;
	text-align: right;
}

.breaker {
	display: none;
}

.grid-container {
	display: grid;
	grid-template-columns: calc(3*var(--tech-tree-image-width)) max(72.5%, 400px) 50px;
	width: 100%;
}

.tech-pic {
	grid-column: 1;
	border-bottom-left-radius: 8px;
	border-top-left-radius: 8px;
}

.tech-pic > img {
	border-radius: 8px;
}

.tech-card {
	padding-left: 1em;
	grid-column: 2;
	height: 100%;
}

.tech-checkbox {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	grid-column: 3;
	border-bottom-right-radius: 8px;
	border-top-right-radius: 8px;
}

.iconInline {
	display:inline;
	width: 12px;
}

.iconTech {
	display: block;
	width: var(--tech-tree-image-width);
}

.tree-stage2{
	padding-left: var(--tech-tree-image-width);
	content: "";
	background-image: url("gfx/tree-stage2.png");
	background-repeat: no-repeat;
    background-size: var(--tech-tree-image-width) 100%;
}

.tree-stage2-end{
	padding-left: var(--tech-tree-image-width);
	content: "";
	background-image: url("gfx/tree-stage2-end.png");
	background-repeat: no-repeat;
    background-size: var(--tech-tree-image-width) 100%;
}

.tree-stage3{
	padding-left: calc(2*var(--tech-tree-image-width));
	content: "";
	background-image: url("gfx/tree-stage3.png");
	background-repeat: no-repeat;
    background-size: calc(2*var(--tech-tree-image-width)) 100%;
}

.tree-stage3-end{
	padding-left: calc(2*var(--tech-tree-image-width));
	content: "";
	background-image: url("gfx/tree-stage3-end.png");
	background-repeat: no-repeat;
    background-size: calc(2*var(--tech-tree-image-width)) 100%;
}

.tree-stage3-end-line{
	padding-left: calc(2*var(--tech-tree-image-width));
	content: "";
	background-image: url("gfx/tree-stage3-end-line.png");
	background-repeat: no-repeat;
    background-size: calc(2*var(--tech-tree-image-width)) 100%;
}

.stage-1 {
	background-color: var(--primary-color-transparent-70);
	border-bottom: 2px solid white;
}

.stage-2 {
	background-color: var(--primary-color-transparent-50);
	border-bottom: 2px solid white;
}

.stage-3 {
	background-color: var(--primary-color-transparent-30);
	border-bottom: 2px solid white;
}

.stage-1:hover, .stage-2:hover, .stage-3:hover {
	background-color: var(--primary-color-transparent-90);
}


@media(max-width:768px) {

	h1 {
		font-size: 28px;
	}

	h2 {
		font-size: 22px;
	}

	.logo {
		width: 150px;
	}

}

@media(max-width:576px) {

	h1 {
		font-size: 24px;
		text-align: center;
		padding-left: 0px;
	}

	h2 {
		font-size: 18px;
	}

	.logo {
		width: 125px;
		position: absolute;
		top: 33px;
	}

}